In [ ]:
import random
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('data/업종별오염물질배출현황(2013-2019).csv',index_col='WRKPLC_FANM')

In [ ]:
df.head()

In [ ]:
col={'CO2_EMSN_QNTY_NIDVAL':'이산화탄소_배출량','TRGT_YEAR':'대상연도','ENGSRC_NM':'에너지원명',
    'ENGSRC_DVSN_NM':'에너지원구분명','WRKPLC_FANM':'사업장가명','WIDM_LOCL_NM':'광역지역명',
    'WRKPLC_WRKR_VOL_NM':'사업장_종사자규모명','KSIC_CD':'표준산업분류코드','KSIC_NM':'표준산업분류명',
    'CO2_EMSN_QNTY_NIDVAL':'이산화탄소_배출량','CO2_EMSN_QNTY_YN':'이산화탄소_배출량_구분',
    'CH4_EMSN_QNTY_NIDVAL':'메탄_배출량','CH4_EMSN_QNTY_YN':'메탄_배출량_구분','N2O_EMSN_QNTY_NIDVAL':'아산화질소_배출량',
    'N2O_EMSN_QNTY_YN':'아산화질소_배출량_구분','GHG_EMSN_QNTY_NIDVAL':'온실가스_배출량','GHG_EMSN_QNTY_YN':'온실가스_배출량_구분'}
df=df.rename(columns=col)
df.info()

In [ ]:
df['이산화탄소_배출량'].describe()

In [ ]:
df['메탄_배출량']=df['메탄_배출량'].str.replace('-','0')
df['메탄_배출량']=df['메탄_배출량'].astype('float')

df['아산화질소_배출량']=df['아산화질소_배출량'].str.replace('-','0')
df['아산화질소_배출량']=df['아산화질소_배출량'].astype('float')

In [ ]:
df=df.reset_index(drop=True)

In [ ]:
df=df[['대상연도','에너지원명','에너지원구분명','광역지역명','사업장_종사자규모명','표준산업분류코드','표준산업분류명','이산화탄소_배출량','이산화탄소_배출량_구분','메탄_배출량','메탄_배출량_구분','아산화질소_배출량','아산화질소_배출량_구분','온실가스_배출량','온실가스_배출량_구분']]

In [ ]:
df['온실가스_배출량']=df['온실가스_배출량'].str.replace('-','0')
df['온실가스_배출량']=df['온실가스_배출량'].astype('float')

In [ ]:
df['광역지역명'].unique()

In [ ]:
local={'경북':'경상도','경남':'경상도','충남':'충청도','충북':'충청도','전북':'전라도','전남':'전라도','경기':'경기도','강원':'강원도'}

In [ ]:
n=[]
for i,a in enumerate(df['광역지역명']):
    if local.get(a):
        n.append(local[a])
    else:
        n.append(a)

In [ ]:
df.insert(4,'지역명_대분류',n)

In [ ]:
df['지역명_대분류'].value_counts()

In [ ]:
energy_etc=['기타가스(부생·정제가스 포함)','기타연료','기타석유','B-A유(경질중유)','부생연료1호','B-B유(중유)','갈탄(조개탄)',
           '석유코크스','부생연료2호','기타석탄','코크스가스','국내무연탄','석탄코크스','천연가스(LNG)','윤활유']

In [ ]:
n=[]
for i,a in enumerate(df['에너지원명']):
    if a in energy_etc:
        n.append('기타')
    else:
        n.append(a)
df['에너지원명']=n

## 지역별 탄소 배출량 %

### 이산화탄소

In [ ]:
co2={}
for i,(a,b) in enumerate(zip(df['지역명_대분류'],df['이산화탄소_배출량'])):
    if co2.get(a):
        co2[a]+=b
    else:
        co2[a]=b
total_co2=sum(co2.values())
for x in co2:
    co2[x]/=total_co2/100
    co2[x]=round(co2[x],3)
print(co2)

### 메탄

In [ ]:
ch4={}
for i,(a,b) in enumerate(zip(df['지역명_대분류'],df['메탄_배출량'])):
    if ch4.get(a):
        ch4[a]+=b
    else:
        ch4[a]=b
total_ch4=sum(ch4.values())
for x in ch4:
    ch4[x]/=total_ch4/100
    ch4[x]=round(ch4[x],3)
print(ch4)

### 이산화질소

In [ ]:
n2o={}
for i,(a,b) in enumerate(zip(df['지역명_대분류'],df['아산화질소_배출량'])):
    if n2o.get(a):
        n2o[a]+=b
    else:
        n2o[a]=b
total_n2o=sum(n2o.values())
for x in n2o:
    n2o[x]/=total_n2o/100
    n2o[x]=round(n2o[x],3)
print(n2o)

### 온실가스

In [ ]:
gas={}
for i,(a,b) in enumerate(zip(df['지역명_대분류'],df['온실가스_배출량'])):
    if gas.get(a):
        gas[a]+=b
    else:
        gas[a]=b
total_gas=sum(gas.values())
for x in n2o:
    gas[x]/=total_gas/100
    gas[x]=round(gas[x],3)
print(gas)

### 전체 지역

In [ ]:
total_region={'이산화탄소':co2,'메탄':ch4,'아산화질소':n2o,'온실가스':gas}
print(total_region)

### 전체 에너지원명 개수

In [ ]:
df['에너지원명'].value_counts()
n={}
for i,x in enumerate(df['에너지원명']):
    if n.get(x):
        n[x]+=1
    else:
        n[x]=1
print(n)

### 배출량 총합

In [ ]:
co2,ch4,no2,gas={},{},{},{}
total_co2=df['이산화탄소_배출량'].sum()
total_ch4=df['메탄_배출량'].sum()
total_no2=df['아산화질소_배출량'].sum()
total_gas=df['온실가스_배출량'].sum()
for i,(a,b,c,d,e) in enumerate(zip(df['에너지원명'],df['이산화탄소_배출량'],df['메탄_배출량'],df['아산화질소_배출량'],df['온실가스_배출량'])):
    if co2.get(a):
        co2[a]+=b
        ch4[a]+=c
        no2[a]+=d
        gas[a]+=e
    else:
        co2[a]=b
        ch4[a]=c
        no2[a]=d
        gas[a]=e

In [ ]:
print(co2)
print(ch4)
print(no2)
print(gas)

In [ ]:
all_energy={'이산화탄소':co2,'메탄':ch4,'아산화질소':no2,'온실가스':gas}
print(n)
print(all_energy)

### 총합 / 개수

In [ ]:
for x in all_energy:
    for y in all_energy[x]:
        all_energy[x][y]/=n[y]
print(all_energy)

### 배출 종류별 총합/개수의 총합

In [ ]:
energy=[]
for x in all_energy:
    energy.append(sum(all_energy[x].values()))
print(energy)

### 배출 종류 별 %

In [ ]:
for id,x in enumerate(all_energy):
    for y in all_energy[x]:
        all_energy[x][y]/=energy[id]/100
        all_energy[x][y]=round(all_energy[x][y],4)
for x in all_energy:
    print(all_energy[x])

In [ ]:
print(all_energy)

In [ ]:
n={}
for i,(a,b,c,d,e) in enumerate(zip(df['에너지원명'],df['이산화탄소_배출량'],df['메탄_배출량'],df['아산화질소_배출량'],df['온실가스_배출량'])):
    if not n.get(a):
        n[a]={'co2':0,'ch4':0,'no2':0,'gas':0}
    if b>0:
        n[a]['co2']+=1
    if c>0:
        n[a]['ch4']+=1
    if d>0:
        n[a]['no2']+=1
    if e>0:
        n[a]['gas']+=1
print(n)
for i,(a,b,c,d,e) in enumerate(zip(df['에너지원명'],df['이산화탄소_배출량'],df['메탄_배출량'],df['아산화질소_배출량'],df['온실가스_배출량'])):
    if co2.get(a):
        co2[a]+=b
        ch4[a]+=c
        no2[a]+=d
        gas[a]+=e
    else:
        co2[a]=b
        ch4[a]=c
        no2[a]=d
        gas[a]=e

In [ ]:
for i in co2:
    co2[i]/=n[i]['co2']
for i in ch4:
    if i=='보일러등유':
        continue
    ch4[i]/=n[i]['ch4']
for i in no2:
    if i=='보일러등유':
        continue
    no2[i]/=n[i]['no2']
for i in gas:
    if i=='보일러등유':
        continue
    gas[i]/=n[i]['gas']

### 배출량이 0이 아닌 회사들을 제외한 값

In [ ]:
print(co2)
print(ch4)
print(no2)
print(gas)

### 백분율

In [ ]:
sum_co2=sum(co2.values())
sum_ch4=sum(ch4.values())
sum_no2=sum(no2.values())
sum_gas=sum(gas.values())
for i in co2:
    co2[i]/=sum_co2/100
for i in ch4:
    ch4[i]/=sum_ch4/100
for i in no2:
    no2[i]/=sum_no2/100
for i in gas:
    gas[i]/=sum_gas/100

In [ ]:
print(co2)
print(ch4)
print(no2)
print(gas)

In [ ]:
df['사업장_종사자규모명']

### 전체 배출량

In [ ]:
n={}
for id,(a,b,c,d,e) in enumerate(zip(df['사업장_종사자규모명'],df['이산화탄소_배출량'],df['메탄_배출량'],df['아산화질소_배출량'],df['온실가스_배출량'])):
    if n.get(a):
        n[a]['co2']+=b
        n[a]['ch4']+=c
        n[a]['no2']+=d
        n[a]['gas']+=e
    else:
        n[a]={'co2':b,'ch4':c,'no2':d,'gas':e}
print(n)

In [ ]:
d={}
for i,x in enumerate(df['사업장_종사자규모명']):
    if d.get(x):
        d[x]+=1
    else:
        d[x]=1
print(d)

In [ ]:
for x in n:
    for y in n[x]:
        n[x][y]/=d[x]
        if x=='10인 ~ 19인':
            n[x][y]/=15
        elif x=='5인 미만':
            n[x][y]/=3
        elif x=='20인 ~ 49인':
            n[x][y]/=35
        elif x=='5인 ~ 9인':
            n[x][y]/=7
        elif x=='50인 ~ 99인':
            n[x][y]/=75
        elif x=='100인 ~ 299인':
            n[x][y]/=200
        elif x=='1000인 이상':
            n[x][y]/=1000
        elif x=='300인 ~ 499인':
            n[x][y]/=400
        else:
            n[x][y]/=750
        n[x][y]=round(n[x][y],4) # co2와 gas를 제외하고 나머지는 0에 수렴함, 사람수가 적은 회사일 수록 인당 배출량이 늘어남
print(n)

In [ ]:
a,b,c=[],[],[]
for x in n:
    a.append(x)
    b.append(n[x]['co2'])
    c.append(n[x]['gas'])
a=tuple(a)
b=tuple(b)
c=tuple(c)
print(a)
print(b)
print(c)

### 밑에 코드들은 배출량 0회사 제외

In [ ]:
z={}
for i,(a,b,c,d,e) in enumerate(zip(df['사업장_종사자규모명'],df['이산화탄소_배출량'],df['메탄_배출량'],df['아산화질소_배출량'],df['온실가스_배출량'])):
    if not z.get(a):
        z[a]={'co2':0,'ch4':0,'no2':0,'gas':0}
    if b>0:
        z[a]['co2']+=1
    if c>0:
        z[a]['ch4']+=1
    if d>0:
        z[a]['no2']+=1
    if e>0:
        z[a]['gas']+=1
print(z)
n={}
for id,(a,b,c,d,e) in enumerate(zip(df['사업장_종사자규모명'],df['이산화탄소_배출량'],df['메탄_배출량'],df['아산화질소_배출량'],df['온실가스_배출량'])):
    if n.get(a):
        n[a]['co2']+=b
        n[a]['ch4']+=c
        n[a]['no2']+=d
        n[a]['gas']+=e
    else:
        n[a]={'co2':b,'ch4':c,'no2':d,'gas':e}
print(n)

In [ ]:
for x in n:
    for y in n[x]:
        n[x][y]/=z[x][y]
        if x=='10인 ~ 19인':
            n[x][y]/=15
        elif x=='5인 미만':
            n[x][y]/=3
        elif x=='20인 ~ 49인':
            n[x][y]/=35
        elif x=='5인 ~ 9인':
            n[x][y]/=7
        elif x=='50인 ~ 99인':
            n[x][y]/=75
        elif x=='100인 ~ 299인':
            n[x][y]/=200
        elif x=='1000인 이상':
            n[x][y]/=1000
        elif x=='300인 ~ 499인':
            n[x][y]/=400
        else:
            n[x][y]/=750
        n[x][y]=round(n[x][y],4) # co2와 gas를 제외하고 나머지는 0에 수렴함, 사람수가 적은 회사일 수록 인당 배출량이 늘어남
print(n)

In [ ]:
n=[]
for i,a in enumerate(df['표준산업분류명']):
    if '(' in a:
        x=a.find('(')
        a=a[:x]
    a=a.split()[-1]
    n.append(a)    
print(n)

In [ ]:
df.insert(7,'표준산업분류명_대범주',n)
df['표준산업분류명_대범주'].value_counts()

In [ ]:
n=[]
name_etc=['제철업','정제처리업','서비스업','변경업','재건조업']
for i,a in enumerate(df['표준산업분류명_대범주']):
    if a in name_etc:
        n.append('기타')
    else:
        n.append(a)
df['표준산업분류명_대범주']=n

In [ ]:
df['표준산업분류명_대범주'].value_counts()

In [ ]:
n={}
for id,(a,b,c,d,e) in enumerate(zip(df['표준산업분류명_대범주'],df['이산화탄소_배출량'],df['메탄_배출량'],df['아산화질소_배출량'],df['온실가스_배출량'])):
    if n.get(a):
        n[a]['co2']+=b
        n[a]['ch4']+=c
        n[a]['no2']+=d
        n[a]['gas']+=e
    else:
        n[a]={'co2':b,'ch4':c,'no2':d,'gas':e}
print(n)

In [ ]:
d={}
for i,x in enumerate(df['표준산업분류명_대범주']):
    if d.get(x):
        d[x]+=1
    else:
        d[x]=1
print(d)

In [ ]:
for x in n:
    for y in n[x]:
        n[x][y]/=d[x]
        n[x][y]=round(n[x][y],2) #ch4, no2는 대부분 0이므로 예외처리하겠음.
print(n)

In [ ]:
all_co2,all_gas=0,0
for x in n:
    for y in n[x]:
        if y=='co2':
            all_co2+=n[x][y]
        elif y=='gas':
            all_gas+=n[x][y]
print(all_co2,all_gas)

In [ ]:
for x in n:
    for y in n[x]:
        if y=='co2':
            n[x][y]/=all_co2/100
        elif y=='gas':
            n[x][y]/=all_gas/100
        n[x][y]=round(n[x][y],3)
for x in n:
    del(n[x]['ch4'])
    del(n[x]['no2'])
print(n)

In [ ]:
a,b,c=[],[],[]
for x in n:
    a.append(x)
    b.append(n[x]['co2'])
    c.append(n[x]['gas'])
print(tuple(a))
print(tuple(b))
print(tuple(c))

### 여기 밑에도 실제 배출량인 0인 회사 제외

In [ ]:
z={}
for i,(a,b,c,d,e) in enumerate(zip(df['표준산업분류명_대범주'],df['이산화탄소_배출량'],df['메탄_배출량'],df['아산화질소_배출량'],df['온실가스_배출량'])):
    if not z.get(a):
        z[a]={'co2':0,'ch4':0,'no2':0,'gas':0}
    if b>0:
        z[a]['co2']+=1
    if c>0:
        z[a]['ch4']+=1
    if d>0:
        z[a]['no2']+=1
    if e>0:
        z[a]['gas']+=1
print(z)
n={}
for id,(a,b,c,d,e) in enumerate(zip(df['표준산업분류명_대범주'],df['이산화탄소_배출량'],df['메탄_배출량'],df['아산화질소_배출량'],df['온실가스_배출량'])):
    if n.get(a):
        n[a]['co2']+=b
        n[a]['ch4']+=c
        n[a]['no2']+=d
        n[a]['gas']+=e
    else:
        n[a]={'co2':b,'ch4':c,'no2':d,'gas':e}
print(n)

In [ ]:
for x in n:
    for y in n[x]:
        n[x][y]/=z[x][y]
        n[x][y]=round(n[x][y],2)
#ch4, no2는 대부분 0이므로 예외처리하겠음.
print(n)

In [ ]:
all_co2,all_gas=0,0
for x in n:
    for y in n[x]:
        if y=='co2':
            all_co2+=n[x][y]
        elif y=='gas':
            all_gas+=n[x][y]
print(all_co2,all_gas)

In [ ]:
for x in n:
    for y in n[x]:
        if y=='co2':
            n[x][y]/=all_co2/100
        elif y=='gas':
            n[x][y]/=all_gas/100
        n[x][y]=round(n[x][y],3)
for x in n:
    del(n[x]['ch4'])
    del(n[x]['no2'])
print(n)

In [ ]:
df.groupby(['대상연도'])[['이산화탄소_배출량','메탄_배출량','아산화질소_배출량','온실가스_배출량']].agg('sum')

In [ ]:
df.groupby(['지역명_대분류'])[['이산화탄소_배출량','온실가스_배출량']].agg('sum').astype('int').T

In [ ]:
#key값과 그 key에 해당하는 value값 밑에까지
key=list(n.keys())
print(key)

In [ ]:
co2=[]
gas=[]
for x in n:
    co2.append(n[x]['co2'])
    gas.append(n[x]['gas'])
print(co2,gas)

In [ ]:
x=pd.DataFrame({'co2':co2,'gas':gas},index=key)
x

In [ ]:
x.describe().T

In [ ]:
for x in all_energy:
    if x=='이산화탄소':
        co2=(list(all_energy[x].values()))
    if x=='온실가스':
        gas=list(all_energy[x].values())
key=list(all_energy[x].keys())
x=pd.DataFrame({'co2':co2,'gas':gas},index=key)
x

In [ ]:
df.to_csv("preprocessing.csv", index=False, encoding="utf-8-sig")